		
<div class="main_page">
	<div class="court_photo">
		<h1>Заголовок</h1>
		<h2>Какой-то текст, краткое описание<br> того чем занимается компания...</h2>
	</div>
	<div class="wrap_1_section_1">
		<div class="col-xs-6">
			<img src="views/app/img/computer-767781_1920.jpg" alt="bg">
		</div>
		<div class="col-xs-6">
			<div class="section_2_text_1">	
				<h2>О нас</h2>
				<ul>
					<li>- Наша компания  V-GLOBAL INTEGRATION есть молодой, но очень амбициозной командой опытных правозащитников.</li>
					<li>- Наша цель – защита прав граждан Европы, Южной и Северной Америки, а также Азии.</li>
					<li>- Мы будем целеустремленно объединять вокруг себя профессионалов в области юриспруденции и инновационных технологий.</li>
					<li>- V-GLOBAL INTEGRATION – это новый, технологичный подход к решениям всех  юридических вопросов.
					</li>
					<li>- Время движется вперед и новые технологии стали неотъемлемой  частью каждого человека во всем мире. </li>
					<li>- Сейчас  у людей нет времени на визиты к юристам, и они нуждаются в оперативной дистанционной помощи специалистов.</li>
					<li>- Мы уже разработали, и будем разрабатывать новые технологические решения, которые позволят оперативно решать все проблемы клиентов  с помощью мобильных и компьютерных устройств.</li>
				</ul>			
			</div> 
		</div>
	</div>
	<div class="wrap_2_section_1">		
		<div class="col-xs-6">
			<div class="section_2_text_2">
				<br>
				<ul>
					<li>- Наши юристы смогут оказать все услуги  дистанционно. От консультаций до создания самых сложных юридических документов. И, конечно же, в случае необходимости лично представить интересы клиента во всех инстанциях.</li>
					<li>- Несмотря на то, что компания есть новой, мы сотрудничаем  с коллегами, которые  уже 14 лет защищают права граждан на просторах Восточной Европы. И конечно, мы не будем останавливаться на этом.</li> 
					<li>- V-GLOBAL INTEGRATION ищет партнеров  в области юридических инноваций и защиты прав на всех континентах мира.</li>
					<li>- Наша задача – создать мощную сеть правозащитных услуг, как платных, так и бесплатных для категорий граждан, которые не могут себе позволить оплатить услуги юристов.</li>
					<li>- Наша команда – это победа Закона. (Law Victory, как раз будет правильная интерпретация LV)</li>
				</ul>			
			</div>
		</div>
		<div class="col-xs-6">
			<img src="views/app/img/office.jpg" alt="bg">
		</div>
	</div>
</div>	





