<div id="partners">
	<div class="container">
		<div class="col-sm-6">	
			<!-- <img src="./include/VartaLogo.jpg"> -->
			<div class="wrap_img">
				<img src="../views/app/img/justice.png">
			</div>
			<!-- 	<h2>Наши партнеры:</h2> -->
			<div class="panel panel-info">
				<div class="panel-body">

					<h3>Правозащитная Группа «Варта»</h3>

					<p>
						Правозащитная Группа «Варта» есть одной из самых крупных правозащитных групп Восточной Европы.  Компании 14 лет. Более  250 сотрудников  Группы «Варта» защищают права граждан Украины, России, Казахстана, Молдовы, Грузии, Белоруссии и Киргизии. <br>
						«Варта» постоянно расширяет географию своей деятельности. <br>
						Компания обслуживает почти 30 000 клиентов. <br>
						Инновационный подход к решению юридических вопросов вывел Группу в лидеры  юридической отрасли во многих странах.<br>
						Правозащитная Группа «Варта» есть стратегическим партнером  в Восточной Европе компании V-GLOBAL INTEGRATION.<br><br>
					</p>

					<embed style="display: block;
					margin-left: auto;
					margin-right: auto" src="https://youtube.com/v/l8MZ1xOWwK4&hl=en&fs=1" allowfullscreen="true" width="500" height="400">
				</div>
			</div>
		</div>
		<div class="col-sm-6"><!-- <img src="./include/VartaLogo.jpg"> -->
			<div class="wrap_img">
				<img src="../views/app/img/hammer.png">
			</div>
			<!-- <h2>Наши партнеры:</h2> -->
			<div class="panel panel-info">
				<div class="panel-body">

					<h3>Правозащитная Группа «Варта»</h3>

					<p>
						Правозащитная Группа «Варта» есть одной из самых крупных правозащитных групп Восточной Европы.  Компании 14 лет. Более  250 сотрудников  Группы «Варта» защищают права граждан Украины, России, Казахстана, Молдовы, Грузии, Белоруссии и Киргизии. <br>
						«Варта» постоянно расширяет географию своей деятельности. <br>
						Компания обслуживает почти 30 000 клиентов. <br>
						Инновационный подход к решению юридических вопросов вывел Группу в лидеры  юридической отрасли во многих странах.<br>
						Правозащитная Группа «Варта» есть стратегическим партнером  в Восточной Европе компании V-GLOBAL INTEGRATION.<br><br>
					</p>

					<embed style="display: block;
					margin-left: auto;
					margin-right: auto" src="https://youtube.com/v/l8MZ1xOWwK4&hl=en&fs=1" allowfullscreen="true" width="500" height="400">
				</div>
			</div></div>
	</div>
